{% extends 'base.html' %}

{% block content %}
<main class="container p-5">
    <div class="row">
        <aside class="col-12 col-md-6">
            <h2>Sign In</h2>    
            {% include 'forms.html' %}
            <!-- Flash message -->
            <div class="flash">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert- {{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            <div>
        </aside>
    </div>
</main>
{% endblock %}